body {
	background-image: url('file:///C:/Users/lkenney/Desktop/CODE/Tic%20Tac%20Toe/writer-desktop-backgrounds-wallpapers.jpg');
	background-repeat: no-repeat;
	background-size: 100%;

}
h1 {
	color:blue;
}